Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
bin/
*.lib
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
*.psess
*.vsp
*.out
*.vsmdi
*.stackdump
Nitra.gpState
*.gpState
*.Generated.n
*.nupkg
packages
Mini-C tests/*.exe
